.container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.subtitle {
    font-size: 2rem;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.gtLogo {
	width: 150px;
	justify-content: left;
	align-items: left;
	margin-top: 10px;
	margin-left: 10px;
}

.result a {
    color: #0070f3;
    text-decoration: none;
}

.result a:hover,
.result a:focus,
.result a:active {
    text-decoration: underline;
}


@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }